.team {
    background-color: #f5f4fa;

    &__item {
        background-color: getColor('background');
        width: 270px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__title {
        color: getColor('primary');
        font-weight: 700;
        font-size: 36px;
        line-height: 1;
        letter-spacing: 0.03em;
        text-align: center;
    }
}
  
.staff-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

    &__icon {
        fill: #afb1b8;
      
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__title {
        color: getColor('primary');
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 500;
    }
  
    &__position {
        color: getColor('secondary');
        font-weight: 400;
        margin-bottom: 16px;
    }
}
  
.staff-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-right: 10px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {
        background-color: getColor('brand');
    }
}
  
.staff-card__item {
    margin-right: 10px;
}
  
.staff-card__item:hover .staff-card__icon {
    fill: getColor('background');
}
  
.staff-card__title,
.staff-card__position {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: center;
}