* {
    box-sizing: border-box;
}
  
*::before,
::after {
    box-sizing: inherit;
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
h1,
h3,
h4,
p,
.product-title {
    margin: 0;
}
  
h2 {
    margin-top: 0;
    margin-bottom: 50px;
}
  
button {
    cursor: pointer;
    border: none;
}
  
.wrapper {
    max-width: 1600px;
}

.hidden {
    display: none;
}  